
/* ESTILO DEL VIDEO: 100% width and height to cover the entire window */
#myVideo {
  position: float;
  width: 100%;
  height: auto;
  top: 0px;
  bpttpntop: 0px;
}



/* ESTILO DEL CONTENIDO */
.content {
  position: fixed;
  color: white;
  width: 100%;
  height: auto;
  padding: 0px;
  border: 0;
  top: 0;
  botton: 0px;
  background: rgba(0, 0, 0, 0.5);
}

/* ESTILO DE LA BARRA DE NAVEGACIÓN */

  ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px 0px;
  margin: 30px 30px;

  }

  li {
    float: left;
    font-size: 20px;
    font-family: Arial Black, Verdana, sans-serif;
    margin: 0px;   
  }

  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 30px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: rgb(255, 255, 153);
    
  }

  .active {
    background-color: LightGray;
  }



/* ESTILO DEL TEXTO */
.p1 {
  font-family: Arial Black, Verdana, sans-serif;
  font-size: 52px;
  margin: 0px 30px;

}
.p2 {
  font-family: Arial Black, Verdana, sans-serif;
  font-size: 40px;
  margin: 0px 30px;

}
.p3 {	
  font-family: Arial, Verdana, sans-serif;
  font-size: 14px;
  margin: 0px 30px;

}

/* ESTILO DEL BOTÓN */
#myBtn {
  width: 100px;
  font-size: 14px;
  padding: 10px;
  border: none;
  background: #fff;
  color: #000;
  cursor: pointer;
margin: 0px 30px;

}
#myBtn:hover {
  background: #ddd;
  color: blue;
} 

/* ESTILO PIE DE PÁGINA */

footer{
}

img{
  width: 20px;
  heigth: 20px;
  display: inline-block;
}
